.education__card-title{
    font-size: 1.8rem;
    text-wrap: balance;
    font-weight: 400;
    letter-spacing: -.025rem;
    line-height: 1.4;
}

.education__card-title:first-of-type{
    margin-top: 1.25rem;
}

.education__card-career{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: rgb(70, 70, 70);
    margin-top: .6rem;
}

.education__card-date{
    margin-top: .6rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: rgb(77, 77, 77);
}

.education__card-description{
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: rgb(147, 147, 147);
    text-wrap: balance;
    line-height: 1.4;
}